<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Writing.com archive viewer</title>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vue-router@3.5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <style>
        body {
            font-size: 1.4em;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="app">
        <router-view></router-view>
    </div>

    <script type="text/x-template" id="story-header-template">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h1 class="card-title ">{{ $story.info.pretty_title }}</h1>
                <h6 class="text-right text-muted"><a
                        v-bind:href="'https://www.writing.com/main/interact/item_id/' + $story.info.id">#{{ $story.info.id }}</a>
                        <br>
                        <router-link to="outline">Chapters: {{ chapters }}</router-link>
                        <br>
                        Created: {{ created }}
                        <br>
                        Modified: {{ modified }}
                </h6>
            </div>

            <div class="d-flex justify-content-between">
                <h4 class="float-left card-subtitle">Created by: <a
                        v-bind:href="'https://www.writing.com/main/portfolio/view/' + $story.info.author_id">{{ $story.info.author_name }}</a>
                </h4>
                <div class="btn-group btn-group-sm">
                    <router-link v-bind:to="{ name: 'info' }" class="btn btn-success">
                        <svg class="bi bi-info-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                          </svg>
                    </router-link>

                    <router-link v-bind:to="{ name: 'chapter', params: {current_index: '1' } }" class="btn btn-danger">
                        <svg class="bi bi-skip-backward" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.5 3.5A.5.5 0 011 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 01-1 0V4a.5.5 0 01.5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z" clip-rule="evenodd"/>
                        </svg>
                    </router-link>

                    <router-link v-bind:to="{ name: 'outline' }" class="btn btn-primary">
                        <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
                        </svg>
                    </router-link>

                    <router-link v-bind:to="{ name: 'recent' }" class="btn btn-warning">
                        <svg class="bi bi-clock-history" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.515 1.019A7 7 0 008 1V0a8 8 0 01.589.022l-.074.997zm2.004.45a7.003 7.003 0 00-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 00-.439-.27l.493-.87a8.025 8.025 0 01.979.654l-.615.789a6.996 6.996 0 00-.418-.302zm1.834 1.79a6.99 6.99 0 00-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 00-.214-.468l.893-.45a7.976 7.976 0 01.45 1.088l-.95.313a7.023 7.023 0 00-.179-.483zm.53 2.507a6.991 6.991 0 00-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 01-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 01-.401.432l-.707-.707z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 104.95 11.95l.707.707A8.001 8.001 0 118 0v1z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 01.5.5v5.21l3.248 1.856a.5.5 0 01-.496.868l-3.5-2A.5.5 0 017 9V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        </svg>
                    </router-link>
                    
                    <router-link v-bind:to="{ name: 'story_search' }" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                    </router-link>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="index-template">
        <div class="col mt-1 mb-3">
            <div class="d-flex justify-content-between">
                <h3>Writing.com archive <small>Page {{ page }} / {{ total_pages }} </small>
                </h3>

                <div class="dropdown">
                    Sort by:
                    <select v-model="sort_field" class="form-control" lazy>
                        <option value="oldest">Oldest</option>
                        <option value="newest">Newest</option>
                        <option value="longest">Longest</option>
                        <option value="shortest">Shortest</option>
                        <option value="recent">Most recently updated</option>
                      </select>
                </div>
            </div>


            <div class="mb-3 d-flex justify-content-between">
                <router-link class="btn btn-secondary" v-bind:class="[(page == 1) ? 'disabled' : '']" v-bind:to="{ name: 'search', params: buildParams('page', page - 1) }">Previous page</router-link>

                <div class="">
                <input v-model="search_field" type="search" class="form-control" placeholder="Search">
                </div>

                <router-link class="btn btn-primary" v-bind:class="[(page >= total_pages) ? 'disabled' : '']" v-bind:to="{ name: 'search', params: buildParams('page', page + 1)}">Next page</router-link>

            </div>

            <div class="card-deck pb-3" v-for="chunk in current_page_chunked">
                <div class="card" v-for="storyIndex in chunk" v-bind:key="storyIndex">
                    <h3 class="py-1 card-header">
                        {{ storylist[storyIndex].pretty_title }}
                    </h3>
                    <div class="py-1 card-body">
                        <h6>by {{ storylist[storyIndex].author }} </h6>
                        <p class="card-text">{{ storylist[storyIndex].brief_description }}</p>
                        <router-link v-bind:to="'/' + storyIndex + '-' + storylist[storyIndex].pretty_title.replace(/[^\w\d]+/gi,'-') +'/'" class="stretched-link"></router-link>
                    </div>
                    <h6 class="py-0 card-footer text-muted">
                        Chapters: {{ storylist[storyIndex].chapters }} <br>
                        Created: {{ date(storylist[storyIndex].created) }} <br>
                        Modified: {{ date(storylist[storyIndex].modified) }}
                    </h6>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="info-template">
        <div class="col mt-1 mb-3">
            <div class="card">
                <story-header></story-header>

                <div class="card-body" v-html="$story.info.description"></div>
        
                <div class="list-group list-group-flush">
                    <router-link to="1" class="list-group-item list-group-item-action list-group-item-primary">
                        Start at the beginning
                    </router-link>
                    <router-link to="outline" class="list-group-item list-group-item-action list-group-item-info">
                        Outline
                    </router-link>
                    <router-link to="recent" class="list-group-item list-group-item-action list-group-item-dark">
                        Recent Additions
                    </router-link>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="outline-template">
        <div class="col mt-1 mb-3">
            <div class="card">
                <story-header></story-header>

                <div class="card-body py-0">
                    <h3 class="card-title">
                    Outline
                    </h3>
                </div>

                <div class="list-group list-group-flush">
                    <router-link v-for="(index) in sorted_keys" v-bind:key="index" class="py-1 text-truncate list-group-item list-group-item-action"
                        v-bind:to="{ path: index}">
                        <small>
                            {{ index }}
                        </small>
                        <br>
                        #{{ index.length }}: {{ $story.chapters[index].title }}
                    </router-link>
                    </ul>
                </div>

            </div>
        </div>
    </script>


    <script type="text/x-template" id="recent-template">
        <div class="col mt-1 mb-3">
            <div class="card">
                <story-header></story-header>

                <div class="card-body py-0">
                    <h3 class="card-title">
                    Recent Chapters
                    </h3>
                </div>

                <div class="list-group list-group-flush">
                    <router-link v-for="chapter_index in recent_indexes" v-bind:key="chapter_index" class="flex-column align-items-start list-group-item list-group-item-action" v-bind:to="{ path: chapter_index}">
                        
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> #{{ chapter_index.length }}: {{ $story.chapters[chapter_index].title }}
                                
                            </h5>
                            <small>  {{ created_date(chapter_index) }} </small>
                        </div>
                        <div>
                            by {{ $story.chapters[chapter_index].author_name }}
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="single-chapter-template">
        <section class="pb-3">
            <header class="card-body py-0">
                <div class="d-flex justify-content-between">
                    <h4><small>Chapter {{current_index.length}}:</small> {{ chapter.title }}</h4>

                    <nav>
                        <router-link v-if="current_index != '1'" v-bind:to="{ name: 'history', params: {current_index : current_index} }" class="btn btn-link">
                            <svg class="bi bi-clock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 3.5a.5.5 0 00-1 0V9a.5.5 0 00.252.434l3.5 2a.5.5 0 00.496-.868L8 8.71V3.5z" clip-rule="evenodd"/>
                            </svg>
                        </router-link>
                    </nav>
                </div>
                <h5>
                    <template v-if="chapter.author_id">
                        by: 
                        <a v-bind:href="'https://www.writing.com/main/portfolio/view/' + chapter.author_id">{{ chapter.author_name }}</a>
                    </template>
                    <template v-else-if="chapter.author_name">
                        by: {{ chapter.author_name }}
                    </template>

                    <small class="text-muted"> on {{ created }} </small>
                </h5>
            </header>

            <div class="card-body">
                <p v-html="chapter.content">
                </p>
            </div>

            <div class="list-group list-group-flush" v-for="(choice, index) in chapter.choices">
                <router-link  v-bind:key="index"
                v-if="!notExist(index)"
                v-bind:class="{ disabled: notExist(index), active: index == selected }" class="list-group-item list-group-item-action"
                v-bind:to="{ name: 'chapter', params: {current_index: current_index + (index + 1) } }">
                {{ choice }} 
                </router-link>
                <li
                class="list-group-item list-group-item-action disabled" 
                v-else>
                {{ choice }}
                </li>
            </div>
        </section>
    </script>

    
    <script type="text/x-template" id="search-template">
        <div class="col mt-1 mb-3">
            <div class="card">
                <story-header></story-header>
            </div>

            <div class="card">
                <div class="">
                <input v-model="search_field" type="search" class="form-control" placeholder="Search">
                </div>
            </div>
        

            <div class="list-group list-group-flush">
                <router-link v-for="result in search_results" class="py-1 text-truncate list-group-item list-group-item-action"
                v-bind:to="{ name: 'chapter', params: { current_index: result['ref']}}">
                
                <small>
                    {{ result['ref'] }}
                </small>
                <br>
                #{{ result['ref'].length }}: {{ $story.chapters[result['ref']].title }}
                </router-link>

                </ul>
            </div>

            
        </div>
    </script>
    
    <script type="text/x-template" id="chapter-view-template">
        <div class="col mt-1 mb-3">
            <div class="card">
                <story-header></story-header>
        
                <div class="card-body pb-0">
                    <h6 class="py-0 my-0" v-if="current_index.length != '1' && !show_history">
                        <router-link v-bind:to="{ path: current_index.substring(0, current_index.length - 1) }">
                        <svg class="bi bi-arrow-90deg-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.646 6.854a.5.5 0 00.708 0L6 4.207l2.646 2.647a.5.5 0 10.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 00-.5.5v6.5A2.5 2.5 0 008 13h5.5a.5.5 0 000-1H8a1.5 1.5 0 01-1.5-1.5V4a.5.5 0 00-.5-.5z" clip-rule="evenodd"/>
                          </svg> Up a chapter
                        </router-link>
                    </h6>
                </div>

                <article>
                <single-chapter v-for="chapter in show_chapters" v-bind:selected="chapter.selected" v-bind:key="chapter.index" v-bind:current_index="chapter.index"></single-chapter>
                </article>

            </div>
        </div>
    </script>

    <script>
        const index_view = Vue.component('index-view', {
            props: {
                page: {
                    type: Number,
                    default: 1 
                }, sort: {
                    default: "recent"
                }, search: {
                    default: ""
                }
            },
            data: function () {
                return {
                    "storylist": {}
                }
            },
            template: '#index-template',
            computed: {
                sorted_list: function() {
                    if (this.sort == "newest") {
                        return Object.keys(this.storylist).sort(
                            (a, b) => {
                                return this.storylist[b].created - this.storylist[a].created;
                            }
                        );
                    } else if (this.sort == "oldest") {
                        return Object.keys(this.storylist).sort(
                            (a, b) => {
                                return this.storylist[a].created - this.storylist[b].created;
                            }
                        );
                    } else if (this.sort == "recent") {
                        return Object.keys(this.storylist).sort(
                            (a, b) => {
                                return this.storylist[b].modified - this.storylist[a].modified;
                            }
                        );
                    } else if (this.sort == "longest") {
                        return Object.keys(this.storylist).sort(
                            (a, b) => {
                                return this.storylist[b].chapters - this.storylist[a].chapters;
                            }
                        );
                    } else if (this.sort == "shortest") {
                        return Object.keys(this.storylist).sort(
                            (a, b) => {
                                return this.storylist[a].chapters - this.storylist[b].chapters;
                            }
                        );
                    }
                },
                filtered_list: function() {
                    if (this.search != "") {
                        search = this.search.toLowerCase()
                        return this.sorted_list.filter(
                            (story_id) => {
                                return this.storylist[story_id].brief_description.toLowerCase().includes(search) ||
                                this.storylist[story_id].author.toLowerCase().includes(search)||
                                this.storylist[story_id].pretty_title.toLowerCase().includes(search)
                            }
                        )
                    }
                    return this.sorted_list;
                },
                current_page: function() {
                    return _.chunk(this.filtered_list, 30)[this.page - 1]
                },
                current_page_chunked: function() {
                    return _.chunk(this.current_page, 3)
                },
                total_pages: function() {
                    return Math.ceil(this.filtered_list.length / 30);
                },
                sort_field: {
                    get() { return this.sort },
                    set(v) {
                        this.$router.push({
                            name: 'search',
                            params: this.buildParams('sort', v)
                        })
                    }
                },
                search_field: {
                    get() { return this.search },
                    set(v) {
                        this.$router.push({
                            name: 'search',
                            params: this.buildParams('search', v)
                        })
                    }
                }
            },
            methods: {
                date: function(date) {
                    return moment.unix(date).format('MMM Do YYYY [at] h:mm a')
                },
                //Build a parameter object to pass to router links for just single changes
                buildParams: function(change, value) {
                    //Get current params that isn't optional
                    params = {
                        page: this.page,
                        sort: this.sort
                    }
                    //Get search if it exists. Vue Router doesn't like "" as a parameter
                    if (this.search !== "") {
                        params.search = this.search;
                    }
                    //Change whatever needs to be changed
                    params[change] = value;
                    
                    //Reset page if search query or sort by changes
                    if (change != "page") 
                        params.page = 1;
                    return params;
                }
            },
            created() {
                fetch("storylist.json")
                    .then(r => r.json())
                    .then(storylist => {
                        this.storylist = storylist;
                    });
            },
        })

        const info_view = Vue.component('info-view', {
            template: '#info-template'
        })

        const outline_view = Vue.component('outline-view', {
            template: '#outline-template',
            computed: {
                //Javascript seems to store order of properties the object, so we have to get the keys and sort it
                sorted_keys: function() {
                    return Object.keys(this.$story.chapters).sort()
                }
            }
        })

        const recent_view = Vue.component('recent-view', {
            template: '#recent-template',
            computed: {
                recent_indexes: function() {
                    return Object.keys(this.$story.chapters).sort(
                        function(a, b) {
                            return Vue.prototype.$story.chapters[b].created - Vue.prototype.$story.chapters[a].created;
                        }
                    ).slice(0, 20)
                }
            },
            methods: {
                created_date: function(index) {
                    return moment.unix(Vue.prototype.$story.chapters[index].created).format('MMM Do YYYY [at] h:mm a')
                }
            }
        })

        const search_view = Vue.component('search-view', {
            template: '#search-template',
            data: function() {
                return {
                    search_field: ""
                }
            },
            computed: {
                lunr: function() {
                    idx = lunr(function() {
                        this.field('id', {boost: 0})
                        this.field('title', {boost: 2})
                        this.field('content', {boost: 1})
                        this.field('author', {boost: 1.5})
                        this.field('choices', {boost: 0.75})

                        Object.keys(Vue.prototype.$story.chapters).forEach(function (index) {
                            choices = null
                            if (Vue.prototype.$story.chapters[index].choices != null) {
                                choices = Vue.prototype.$story.chapters[index].choices.join(" ") 
                            }
                            this.add({
                                id: index,
                                title: Vue.prototype.$story.chapters[index].title,
                                content: Vue.prototype.$story.chapters[index].content,
                                author: Vue.prototype.$story.chapters[index].author,
                                choices: choices
                            })
                        }, this)
                    })
                    return idx;

                },
                search_results: function() {
                    return this.lunr.search(this.search_field)
                }
            }
        })


        const header = Vue.component('story-header', {
            template: '#story-header-template',
            computed: {
                chapters: function() {
                    return Object.keys(this.$story.chapters).length
                },
                created: function() {
                    return moment.unix(this.$story.info.created).format('MMM Do YYYY [at] h:mm a')
                },
                modified: function() {
                    return moment.unix(this.$story.info.modified).format('MMM Do YYYY [at] h:mm a')
                }
            }
        })

        const single_chapter = Vue.component('single-chapter', {
            props: ['current_index', 'selected'],
            template: '#single-chapter-template',
            computed: {
                chapter: function () {
                    return this.$story.chapters[this.current_index]
                },
                created: function() {
                    return moment.unix(this.chapter.created).format('MMM Do YYYY')
                },
            },
            methods: {
                notExist: function (index) {
                    return typeof (this.$story.chapters[this.current_index + (index + 1)]) === 'undefined';
                }
            }
        })

        const chapter_view = Vue.component('chapter-view', {
            props: ['current_index', 'show_history'],
            data: function () {
                return {

                }
            },
            template: '#chapter-view-template',
            computed: {
                chapter: function () {
                    return this.$story.chapters[this.current_index]
                },
                created: function() {
                    return moment.unix(this.chapter.created).format('MMM Do YYYY')
                },
                show_chapters: function() {
                    if (this.show_history) {
                        //Build up history for current index

                        var chapters = []
                        split = this.current_index.split("");
                        split.forEach((element, index) => {
                            chapters.push({
                                index: split.slice(0, index + 1).join('')
                            })
                            if (index != split.length - 1) {
                                chapters[chapters.length - 1].selected = split[index + 1] - 1;
                            }
                        });
                    } else {
                        var chapters = [ { index: this.current_index, selected: -1 }];
                    }
                    idx = this.current_index;

                    while (true) {
                        var current_chapter = this.$story.chapters[idx]

                        //No more choices, we're done
                        if (current_chapter.choices == null) {
                            return chapters;
                        }
                        
                        //Count number of next open chapters
                        var hasNext = 0, next = 0;
                        
                        //Check how many choices we've got
                        current_chapter.choices.forEach((element, index) => {
                            if (this.notExist(idx + (index + 1)) == false) { 
                                hasNext++;
                                next = index + 1;
                            }
                        });

                        //If there's only one choice, then add it to the list
                        if (hasNext == 1) {
                            //Set the selected chapter so that we can pass it as a prop and highlight it
                            chapters[chapters.length - 1].selected = next - 1;

                            //Add new chapter to list to redner
                            idx = idx + next;
                            chapters.push({index: idx, selected: -1});
                        //Otherwise we done
                        } else {
                            return chapters;
                        }
                    }
                    return chapters;
                }
            },
            methods: {
                notExist: function (index) {
                    return typeof (this.$story.chapters[index]) === 'undefined';
                }
            }
        })

        const routes = [
            { path: '/', component: info_view },
            { 
                path: '/', 
                component: info_view,
                name: 'info', 
                pathToRegexpOptions: { strict: true }
            },
            { 
                path: '/recent', 
                component: recent_view,
                name: 'recent',
            },
            { 
                path: '/outline', 
                component: outline_view,
                name: 'outline',
            },
            { 
                path: '/:current_index/history', 
                name: 'history',
                component: chapter_view, props: (route) => ({
                    current_index: route.params.current_index,
                    show_history: true
                })
            },
            { 
                path: '/search/:search_query?', 
                name: 'story_search',
                component: search_view, 
                props: true 
            },
            { 
                path: '/:current_index', 
                name: 'chapter',
                component: chapter_view, 
                props: true 
            },
        ]

        const router = new VueRouter({
            routes, // short for `routes: routes`,
            scrollBehavior(to, from, savedPosition) {
                if (savedPosition) {
                    return savedPosition
                } else {
                    return { x: 0, y: 0 }
                }
            }
        })

        var app = new Vue({
            data: {
                storylist: null,
            },
            router: router,
        })

        //the line that actually gets replaced by the real story
        Vue.prototype.$story =  {{ story_info }}
        
        app.$mount("#app")
    </script>
</body>

</html>
