/* lmao what is the internet */
body {
    background: black;
}
.content {
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    background: darkgray;
}
.content ul {
    list-style: none;
}
h1 small {
    font-size: 40%;
}